{% load static %}

        <button type="button" class="btn btn-outline-primary insert_btn_for_guset_book_list" style="float: right;">계획 쓰기</button>

        <table class="table table-bordered" id="todo_list" width="100%">
            <tr>
                <td>id</td>
                <td>author</td>
                <td>content</td>
                <td>completed</td>
                <td>created</td>
                <td>삭제</td>
            </tr>
            {% if object_list.exists %}

            {% for plan in object_list %}
            <tr id="plan_row_{{plan.id}}">
                <td>{{plan.id}}</td>
                <td id=author_{{plan.id}}>{{plan.author}}</td>
                <td>
                    <input type="text" class="" size="100%" value="{{plan.content}}">
                    <button>이동</button>
                    <input type="text" class="" size="50%" placeholder="subbject"/>
                    <input type="text" class="" size="25%" placeholder="start"/>
                    <input type="text" class="" size="25%" placeholder="end" />
                </td>

                <td>completed</td>
                <td>{{plan.completed}}</td>

                <td>
                    {{plan.created_at}}
                </td>
                <td>
                    <a href="#">
                        <img class="delete_btn_for_plan_list" src="{% static 'icon/x_mark.png' %}" data-author={{plan.author}} id="{{plan.id}}" alt="" >
                    </a>

                </td>
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td colspan="5">
                    <h4>아직 계획이 없습니다.</h4>
                </td>
            </tr>
            {% endif %}
            <tbody id="plan_tbody"></div>
        </table>


<!-- underscore template area -->

<!-- mini note for backend modal insert textarea -->
<script class="plan_row" type="text/x-template">

    <tr id="plan_row_<%=plan_id%>">
        <td><%=plan_id%></td>
        <td><%=plan_author%></td>
        <td>
            <input type="text" class=""  size="100%" value="<%=plan_content%>">
        </td>
        <td>
            <%=plan_created_at%>
        </td>
        <td>
            <a href="#">
                <img class="delete_btn_for_plan_list" src="{% static 'icon/x_mark.png' %}" data-author=<%=plan_author%> id=<%=plan_id %> alt="" >
            </a>
        </td>
    </tr>

</script>


<!-- js area -->
<script type="text/javascript">

    $('body').on('click', '.delete_btn_for_plan_list', function(e) {
        console.log('delete guest book row!');
        e.preventDefault();
        var id = $(this).attr("id");
        const current_user = "{{request.user}}"
        const author = $(this).data('author');
        console.log("current user : ", current_user);
        console.log(" author : ", author);

    if(current_user === author ){
        // alert("삭제 하겠습니다.")
        $.ajax({
                type: "POST",
                url: '/wm/myshortcut/delete_guest_book_list/' + id,
                data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (result) {
                            $("#plan_row_" + id).remove();
                            alert(result.message);
                        }
                    });
    } else {
        alert("작성자만 지울수 있습니다. 작성자는 " + author)
    }


    });


    // $(".delete_btn_for_plan_list").click(function (e) {
    //     // alert("삭제 버튼 클릭 확인");
    //
    //     e.preventDefault();
    // 	var id = $(this).attr("id");
    //
    // 	$.ajax({
    // 		type: "POST",
    // 		url: '/wm/myshortcut/delete_plan_list/' + id,
    // 		data: {
    // 			csrfmiddlewaretoken: '{{ csrf_token }}'
    // 		},
    // 		success: function (result) {
    // 			$("#plan_row_" + id).remove();
    // 			alert(result.message);
    // 		}
    //     });
    //
    // });

    $(".insert_btn_for_guset_book_list").click(function () {
        // alert("계획 입력 버튼 클릭")
    	window.history.pushState("", "", '/wm/myshortcut/')
    	const text = prompt("text를 입력해 주세요 ", "");
        const page_user = "{{request.user}}";
        console.log("text, page_user : ", text, page_user);

    	if (!text) {
    		return;
    	};

    	if (text) {
    		$.ajax({
    			type: "POST",
    			url: 'insert_for_guest_book/',
    			data: {
                    text: text,
                    page_user: page_user,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
    			},
    			success: function (result) {
    				alert(result.message);

    				// underscore를 이용해 row 추가 하기
    				var plan_row_template = $('.plan_row').html();
    				var tpl = _.template(plan_row_template);
    				var table_row = $('.table_row').length;
                    //
    				var rendered = tpl({
    					table_row_id: table_row + 1,
                        plan_id : result.plan_id,
    					plan_author: result.plan_author,
    					plan_content: result.plan_content,
    					plan_created_at: result.plan_created_at,
    				});
    				$(rendered).appendTo($('#plan_tbody'));
    			}
    		});
    	} else {
    		alert("내용을 입력하지 않으셨어여 다시 시도해주세요")
        }

    })

</script>



</body>
